.analysis {
    display: grid;
    color: $font-alternative-color;
}

.analysis h1,
p,
h2 {
    grid-column: span 3;
    justify-self: left;
}

.analysis.box {
    width: 250px;
    background-color: $box-bg-color;
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 10px;
    color: $font-color;
}
