.technology {
    color: $font-alternative-color;
}

.technology.box {
    width: 250px;
    background-color: $box-bg-color;
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 10px;
    color: $font-color;
}
