$font-color: rgb(166, 214, 255, 0.8);
$font-alternative-color: rgb(166, 214, 255, 0.8);
$background-color: rgb(10, 10, 10);
$background-color-main: rgb(60, 60, 60);
$background-alternative-color: rgb(30, 30, 30);
$box-bg-color: rgb(75, 75, 75);

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
