.header {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    grid-template-areas: 'header-left header-middle header-right';
    display: grid;
}

.header img {
    max-height: 150px;
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}
