* {
    color: $font-color;
    font-family: 'Yuji Syuku', sans-serif;
}

body {
    font-family: sans-serif;
    line-height: $main-line-height;
    color: $font-alternative-color;
}

p,
td,
th,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: $main-font-size;
    margin-bottom: $magic-number;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}
