$font-color: #000000;
$font-alternative-color: #d3d3d3;
$accent-color: #ee6c4d;
$background-color: #7fb3d5 ;
$background-alternative-color: #e0fbfc;
$box-bg-color: #00cccc;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
