{% include 'incl/header.twig' %}

<body>

    <div class="grid wrapper">
        {% include 'incl/nav.twig' %}
        <div class="side-bar">
        </div>
        <div class="main">
            {{ content }}
        </div>
        {% include 'incl/footer.twig' %}
    </div>
</body>
