$font-color: #000;
$font-alternative-color: #d3d3d3;
$accent-color: #ee6c4d;
$background-color: #7fb3d5;
$background-alternative-color: #cef1f2;
$box-bg-color: #cef1f2;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
