.footer {
    border-top: 1px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;
}

.footer a {
    color: $font-color;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
    float: left;
}

.footer .fontawesome {
    font-size: 2rem;
    float: right;
}
