.header,
.footer {
    flex: 0 0 auto;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}
